<!DOCTYPE html>
<html ng-app="RailsApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%= t('app.title') %></title>
    
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag '/vendor/angular/angular-csp.css' %>
    <%= stylesheet_link_tag '/vendor/bootstrap/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag '/vendor/font-awesome/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body ng-controller="AppController">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t('link.home'), root_path, title: t('link.home') %></li>
            <% if @current_user %>
              <li><%= link_to t('link.signout'), sessions_signout_path, title: t('link.signout') %></li>
            <% else %>
              <li><%= link_to t('link.signin'), sessions_signin_path, title: t('link.signin') %></li>
              <li><%= link_to t('link.signup'), sessions_signup_path, title: t('link.signup') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
    
    <% if Rails.env.development? %>
      <%= javascript_include_tag 'http://localhost:35729/livereload.js' %>
    <% end %>
    
    <%= javascript_include_tag '/vendor/jquery/dist/jquery.min.js' %>
    <%= javascript_include_tag '/vendor/angular/angular.min.js' %>
    <%= javascript_include_tag '/vendor/bootstrap/dist/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
